[Desktop Entry]
Name=Tuquito Upgrade Manager
Comment=Aplicación que notifica cuando se encuentra una nueva versión disponible
Type=Application
Exec=tuquito-upgrade-manager
Icon=/usr/lib/tuquito/tuquito-upgrade-manager/logo.png
Terminal=false
Type=Application
Categories=System;Settings;
