[Desktop Entry]
Name=Tuquito Upgrade Manager
Comment=Aplicación que notifica cuando se encuentra una nueva versión disponible
Type=Application
Exec=tuquito-upgrade-manager-launcher
Terminal=false
Categories=Utility;
